@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles */
html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

[data-aos] {
    will-change: transform, opacity;
}

#root {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}